{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<main>
    <div class="cont-main">
        {# partie actualité carroussel #}
        <div class"cont-atcualite">
            <div class="img-actu">
                <img src="/images/actualite_1.jpg" alt="gardien arrêt ballon">
            </div>
            <div class="titre-para-actu">
                <h1> Titre actualité image actualité 1 </h1> 
                <p> paragraphe lié a l'actualité numéro 1 </p>
                <button class="btn-index" type="submit">LIRE</button>
            </div>
        </div>

        {# partie données matchs et classement #}

        {# bloc actualité #}

        {# bloc evenement #}

        {# bloc boutique #}

        {# equipe 1er lien vers les joueurs #}

        {# partie partenaires #}
    </div>
</main>

{% endblock %}
