{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<main>

 
    <img src="/images/actualite_1.jpg" alt="footbaler">


</main>

{% endblock %}
