

// Colors
$main-bacground: #FBFAF2;
$bouton: #D74B2E;
$background-border-bouton-shop:white;
$background-evenement: #090001;
$background-titre-evenement: #2B2B2B;
$titre-bouton: white;
$titre-img: white; //titre dans image actu carroussel et image equipe 1er
$paragraphe: white;
$titre-shop-actu:black;
$titre-event:white; // titre dans les evenements
$cont-titre-actualite: white;

$light-grey: rgba(134, 121, 121, 0.45);

// font-size
$size-h1: 0.7rem; //titre dans image actu carroussel et image equipe 1er et titre de chaque section
$size-h2: 0.8rem;
$size-paragraphe: 1rem;


