

// Colors
$main-bacground: #FBFAF2;
$bouton: #D74B2E;
$background-evenement: #090001;
$background-titre-evenement: #2B2B2B;
$titre-bouton: white;
$titre-img: white; //titre dans image actu carroussel et image equipe 1er
$paragraphe: white;
$titre-event:black; // titre dans les evenements


$light-grey: rgba(134, 121, 121, 0.45);

// font-size
$size-h1: 0.7rem; //titre dans image actu carroussel et image equipe 1er
$size-paragraphe: 1rem;

