{% extends 'base.html.twig' %}

{% block title %}New Opposition{% endblock %}

{% block body %}
    <h1>Create new Opposition</h1>

    {{ include('opposition/_form.html.twig') }}

    <a href="{{ path('app_opposition_index') }}">back to list</a>
{% endblock %}
