  
.cont-main {
    background-color: $main-bacground;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

// actualité carrousselle---------------------------------------------------------------------
.cont-articles {
    // border: 3px solid red;
    width: 100%;
    height: 25rem;
    padding-bottom: 12%;
    background-image: url('/images/actualite_1.jpg');
    background-size: cover; // pour que l'image prenne tout l'espace
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    .item {
        width:90%;
        justify-self: flex-end;
        .title-articles{    
            font-size: $size-h1;
            color: $titre-img; 
            // .para-dans-image p {
            //     font-size: $size-paragraphe; // Utilisation d'une variable pour la taille du paragraphe
            //     margin: 10px 0; // Ajoute une marge en haut et en bas pour l'espacement
            //     color: $paragraphe;
            // }        
            .btn-index{     
                padding: 7px 40px;
                background-color: $red;
                color: $titre-bouton; 
                border-radius: 1rem;
                margin-top: 0.4rem;
            }
            .btn-index:hover {
                cursor: pointer;
            }       
        }
    }
}

//contenaire affichage match et classement--------------------------------------------------------
.cont-match-classement{
    width: 100%;
    height: 21rem;
    font-size: $size-h1;
    // border: 3px solid green;
    .box-match-classement{
        // border: 3px solid blue;
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: 390px;
        margin: -30px auto;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        .date-match{
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }
        .logo-match img{
            width: 18%;
            border-radius:50%;
            margin: 1rem;
        }
        .equipe-score-match{
            font-size: 1rem;
            margin-bottom: 1rem;   
        }
        .versus{
            background-color: #bfbdbd;
            color: white;
        }
        a{
        color: #D74B2E;
        text-align: center;
        }
        .stat-match{
            font-size: 0.5rem;
            
        }
        
    }  
}

// bloc actualité----------------------------------------------------------------------------------
.cont-actualite{
    // border: 3px solid red;
    font-size: $size-h1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 90%;
    margin: 30px auto 30px;

    .actualite-title {
        align-self: flex-start;
    }
    
    .box-actualite {
        width: 100%;
        height: 20vh;
        // border: 3px solid orange;
        margin-bottom: 60px;
        position: relative;

        .img-section-actualite{
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        } 
        .box-title {  
            position: absolute;      
            // border: 3px solid violet;
            background-color: white;
            padding: 20px;
            bottom: -45px;
            left: 5%;
            width: 90%;      
        }

        &:nth-child(5), &:nth-child(6) {
            display: none;
        }
    }
}


// Bloc evenement-----------------------------------------------------------------------------------
.cont-evenement{
    font-size: $size-h1;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    // padding-bottom: 1rem;
    background-color: black;

    .evenement-title{
        align-self: flex-start;
    }

    .box-evenement {
        display: flex;
        flex-direction: column;
        align-items: center;
        .box-title-evenement{
        color: $titre-event; 
        background-color: $background-titre-evenement;
        width: 90%;
        height: 6vh;
        width: 90%;
        margin:  0 0 1rem;
            h2{
            color: $titre-event;
            font-size: $size-paragraphe;
            margin: 1rem;
            }
        }
        .img-section-evenement{
            display: flex;
            justify-content: center;
            img{
                width: 90%;  
            }
        } 
        
        &:nth-child(5), &:nth-child(6) {  //pour que les images 5 et 6 n'apparaissent pas
            display: none;
        }   
    }
}


// Bloc shop-----------------------------------------------------------------------------------
.cont-shop{
    font-size: $size-h1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1.5rem;
    .shop-titre{
        color: $titre-shop-actu;
        align-self: flex-start;
    }
    .box-shop{
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-shop{
            display: flex;
            justify-content: center;
            img{
                width: 100%;
            }      
        }
        .box-bouton{
            display: flex;
            justify-content: center;   
            background-color: $background-border-bouton-shop;
            width: 100%;
            margin-bottom: 2rem;
            padding:1rem;
            .btn-shop{  
                padding: 7px 40px;
                background-color: $red;
                color: $titre-bouton; 
                border-radius: 1rem;
                margin-top: 0.4rem;
                cursor: pointer;
            }
        }
    }
}
/* Bloc equipe 1er-----------------------------------------------------------------------------------*/
.cont-equipe1 {
    width: 100%;
    height: 18rem;
    padding-bottom: 9%;
    background-image: url('/images/equipe1.jpg');
    background-size: cover; //pour que l'image prenne tout l'espace
    background-position: center;
    display: flex;
    align-items: center;
    .overley-joueur {
        width:100%;
        // justify-self: flex-end;
        .title-image{    
            font-size: $size-h1;
            color: $titre-img;
            text-align: center;
            font-weight: bold; //ecriture en gras
            margin-top: 30%;
            .para-image p {
                font-size: $size-paragraphe; // Utilisation d'une variable pour la taille du paragraphe
                margin: 10px 0; // Ajoute une marge en haut et en bas pour l'espacement
                color: $paragraphe;
                // justify-content:end;
            }        
            .btn-index{     
                padding: 7px 40px;
                background-color: $red;
                color: $titre-bouton; 
                border-radius: 1rem;
                margin-top: 0.4rem;
            }
            .btn-index:hover {
                cursor: pointer;
            }       
        }
    }
}
// partie partenaires--------------------------------------------------------------------------------
.cont-partenaire{
    // border: 2px solid red;
    background-color: white;
    width: 100%;
    height: 45vh;
    margin-top: 2rem;
    .titre-partenaires{
        // border: 2px solid blue;
        text-align: center;
        font-size: $size-h1;
        color: $titre-partenaire;
        margin-top:0.4rem;
    }
    .logo-partenaire{
        // width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 4rem;
        // border: 2px solid black;
    }
    .logo-partenaire img{
        // border: 3px solid violet;
        justify-content: space-around;
        max-height: 45px;
    }
}















