
.general-form{
    width: 70%;
    margin: auto;
    margin-top: 10%;
    inline-size: 20rem;
    // font-family: sans-serif;
}
h1{
    font-size: 1rem;
}

.titre-login{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    img{
        width: 40%;
    }
}

.champ-form{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 2rem;  
    margin-bottom: 1rem;
    
    label {
        display: none;
    }
    input  {
        border: none;
        padding: 10px;
        border-bottom: 1px solid rgba(143, 148, 152, 0.5);
        background: white;
    }
}

.bottom-form{
    padding: 1rem;
    text-align: center;
    .btn-form{
        background-color: $red;
        color: $titre-bouton; 
        border-radius: 1rem;
        padding: 0.8rem;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

}

// .register-acces{
//     margin-top: 2rem;
//     font-size: 0.5rem;
//     color: #D74B2E;
//     a:visited {
//         color: #D74B2E;
//     }
// }
