.container{
    border: 1px solid black;
    width: 80%;
    // border: 3px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 8rem auto;
   
    .profil-img{
        flex-direction: column;
        border: 1px solid red;
        width: 80%;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-stat{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 80%; 
        .match{
        border: 1px solid yellow;
        }
        .carton{
        border: 1px solid violet;
        display: flex;
        justify-content: center;

        }
        .passe{
            border: 1px solid green;
        }
        .tir{
            border: 1px solid blue;
        }
        
    }
   .btn-stat{
        border: 1px solid black;
        width: 10%;
        margin: auto;
   
   }
    
}