
   
.cont-main {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

// actualité carrousselle---------------------------------------------------------------------
.cont-actualite-carroussel {
    // border: 3px solid red;
    width: 100%;
    height: 25rem;
    padding-bottom: 9%;
    background-image: url('/images/actualite_1.jpg');
    background-size: cover; // pour que l'image prenne tout l'espace
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    .overlay {
        width:90%;
        justify-self: flex-end;
        .titre-dans-image{    
            font-size: $size-h1;
            color: $titre-img; 
            .para-dans-image p {
                font-size: $size-paragraphe; // Utilisation d'une variable pour la taille du paragraphe
                margin: 10px 0; // Ajoute une marge en haut et en bas pour l'espacement
                color: $paragraphe;
            }        
            .btn-index{     
                padding: 7px 40px;
                background-color: $bouton;
                color: $titre-bouton; 
                border-radius: 1rem;
                margin-top: 0.4rem;
            }
            .btn-index:hover {
                cursor: pointer;
            }       
        }
    }
}

//contenaire affichage match et classement--------------------------------------------------------
.cont-match-classement{
    width: 100%;
    height: 21rem;
    // border: 3px solid green;
    .box-match-classement{
        // border: 3px solid blue;
        text-align: center;
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: 350px;
        margin: -30px auto;
    }     
}

// bloc actualité----------------------------------------------------------------------------------
.cont-actualite{
    // border: 3px solid red;
    font-size: $size-h1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px auto 30px;

    .actualite-titre {
        align-self: flex-start;
    }

    .box-actualite {
        width: 100%;
        height: 20vh;
        // border: 3px solid orange;
        margin-bottom: 60px;
        position: relative;
        .img-section-actualite{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        } 
        .box-titre {  
            position: absolute;      
            // border: 3px solid violet;
            background-color: white;
            padding: 20px;
            bottom: -45px;
            left: 5%;
            width: 90%;      
        }
    }
    .img-section-actualite1{
        background-image: url('/images/actualite_2.jpg');
    }
    .img-section-actualite2{
        background-image: url('/images/actualite_3.jpg');
    }
    .img-section-actualite3{
        background-image: url('/images/actualite_4.jpg');
    }
}


// Bloc evenement-----------------------------------------------------------------------------------
.cont-evenement{
    font-size: $size-h1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px auto 30px;
    background-color: black;
    .box-evenement {
        display: flex;
        flex-direction: column;
        align-items: center;
        .box-titre-evenement{
        color: $titre-event; 
        background-color: $background-titre-evenement;
        width: 100%;
        // height: ;
        }
        .img-event{
            img{
                width: 90%;     
            }
        }
    }
    .fond-h2{
        width: 100%;
        margin: 0;
        h2{
        color: $titre-event;
        font-size: $size-paragraphe;
        margin: 1rem;
        }
    }  

// Bloc shop-----------------------------------------------------------------------------------

}







