
// actualité carrousselle---------------------------------------------------------------------
.cont-actualite-carroussel {
    position: relative;
    background-image: url('/images/actualite_1.jpg');
    background-size: cover; // pour que l'image prenne tout l'espace
    background-position: center;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .overlay {
        // border: 3px solid green;
        padding-top: 150px;
        height: 300px;
        width: 100%;
        margin-left: 2rem; // marge avec le h1 et P et la bordure gauche
        justify-content: flex-end;

        .titre-dans-image{    
            width: 100%;
            height: 100%;
            font-size: $size-h1;
            color: $titre-img; 
            
            .para-dans-image p {
                font-size: $size-paragraphe; // Utilisation d'une variable pour la taille du paragraphe
                margin: 10px 0; // Ajoute une marge en haut et en bas pour l'espacement
                color: $paragraphe;
            }
            
            .btn-index{
                width:5rem;        
                background-color: $bouton;
                color: $titre-bouton; 
                border-radius: 1rem;
                padding: 0.2rem;
                margin-top: 0.4rem;
            }

            .btn-index:hover {
                cursor: pointer;
            }       
        }
    }
}
//--------------------------------------------------------------------------------------------------

//contenaire affichage match et classement--------------------------------------------------------

.cont-match-classement{
    position: absolute;
    border: 1px solide red;
    background-color: rgb(131, 125, 125);
    // background-color: white;
    width: 90%;
    height: 20rem;
    top: 26rem; // distance entre le bord supérieur de l'élément et le bord supérieur de son conteneur parent
    left: 50%;
    transform: translateX(-50%); //centrer horizontalement l'élément par rapport à son conteneur parent 
}
//-------------------------------------------------------------------------------------------------
   
// bloc actualité----------------------------------------------------------------------------------
.cont-actualite{
    width: 90%;
    height: 10%;
    border: 1px solid green;
    // background-position: center;
    // background-image: url('/images/actualite_2.jpg');
    // background-size: cover; // pour que l'image prenne tout l'espace
    margin-top: 18rem;
    // margin: auto;
    .img-section-actu{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    

}
