<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://kit.fontawesome.com/d029700782.js" crossorigin="anonymous"></script>
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        
    </head>


    <body>

        <div class="main-container">       
            {% block noHeaderFooter %}

                {% block header %}
                    {% include('/header.html.twig') %}
                {% endblock %}
  
                {% block body  %}           
                {% endblock  %}

                {% block footer %}
                    {% include('/footer.html.twig') %}
                {% endblock  %}

            {% endblock  %}
        </div>
        
    </body>
</html>
