
<footer>
    <div class="logo">
        <img src="/images/logo/six-fours.png" alt="logo six fours">
    </div>
    <div class="footer-top">
        <h1> Fc Six-Fours le Brusc </h1>
        <div class="icon-social">
           <a target="_blank" href="https://www.facebook.com/p/Six-fours-le-brusc-fc-100069607824620/" ><i class="mdi mdi-facebook"></i></a>
                <a target="_blank" href="https://www.instagram.com/sixfoursfc83/"><i class="mdi mdi-instagram"></i></a>
                <a target="_blank" href="https://twitter.com/6fourslesplages?lang=fr"><i class="mdi mdi-twitter"></i></a>
                <a target="_blank" href="https://www.youtube.com/@toulonfootball"><i class="mdi mdi-youtube"></i></a>   
        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright © 2024 SFBFC@.com. Tous droits réservés.<br> Ne pas copier ou redistribuer sous aucune forme.</p>
        <div class="contact">
            <p>Contact: 04 94 25 18 62</p>
        </div>
    </div>
</footer>